run = "cowsay Configure me!"
entrypoint = "README.md"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"
packages = ["cowsay"]

[deployment]
run = ["sh", "-c", "NODE_ENV=production node dist/index.js"]
build = ["sh", "-c", "npm run build"]

[workflows]
runButton = "Dev"

[[workflows.workflow]]
name = "Dev"
author = 41953339
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "NODE_ENV=development npx tsx server/index.ts"

[[ports]]
localPort = 5000
externalPort = 80
